{% extends 'myapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'myapp/styles/style.css' %}">
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
             <table>
                     <tr>
                        <th>Таб. номер</th>
                        <th>ФИО</th>
                        <th>email</th>
                        <th>телефон</th>
                        <th>должность</th>
                     </tr>
        {% if tasks %}
                 {% for el in tasks %}
                     <tr>
                        <td>{{ el.num_staff }}</td>
                        <td>{{ el.name }}</td>
                        <td>{{ el.mail }}</td>
                        <td>{{ el.phone_number }}</td>
                        <td>{{ el.job }}</td>
                     </tr>
                    {% endfor %}
                </table>
        {% else %}
            <p class="text">Записей нет!</p>
        {% endif %}
{% endblock %}