{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
 <div class="text">
        <h2>Что такое ПВТР</h2>
        <p>Правила внутреннего трудового распорядка – это локальный нормативный акт, который в соответствии с российским
            законодательством определяет (ст. 189 ТК РФ):</p>
        <ul class="pvtr">
            <li>порядок приема и увольнения работников;</li>
            <li>основные права, обязанности и ответственность сторон трудового договора;</li>
            <li>режим работы;</li>
            <li>время отдыха;</li>
            <li>применяемые к работникам меры поощрения и взыскания;</li>
            <li>иные вопросы регулирования трудовых отношений у данного работодателя.</li>
        </ul>
        <h2>Правила составления ПВТР</h2>
        <p>Никаких установленных правил для составления этого ЛНА нет. Но мы бы хотели отметить два момента.
            Во-первых, устанавливая свои правила, важно помнить, что они не должны противоречить действующему
            законодательству и не должны ухудшать положения работников по сравнению с трудовым законодательством,
            коллективным договором, соглашениями и т.д. Дело в том, что такие ПВТР попросту не будут подлежать
            применению (ст. 8 ТК РФ).</p>
        <p>Во-вторых, нет смысла переписывать в ПВТР нормы Трудового кодекса там, где это совершенно не требуется, –
            достаточно отсылки к ТК РФ. Например, в разделе, посвященному порядку увольнения работников, не стоит
            прописывать весь этот порядок. Ведь он подробно описан в Кодексе. Поэтому основные положения порядка
            увольнения можно, к примеру, зафиксировать фразой «Прекращение трудовых договоров с работниками
            регламентируется гл. 13 ТК РФ».</p>
    </div>
{% endblock %}